*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
header{
    background: #000;
    width: 100%;
    padding: 15px 0;
    position: fixed;
}


.container{
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px ;    
}
ul li a{
    color: #b0b0b0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li a:hover{
    color: #ff8b38;
    transition: 500ms;
}
ul li a:active{
    color: #ff8b38;
}
.nav{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 40%;
    align-items: center;

}
.nav img{
    width: 30%;  
}
#hero{

    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(../img/u2_state0.jpeg) no-repeat center;
    background-size: cover;
    padding: 110px 0 100px;
}
#hero h1{
    text-align: left;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    padding: 10px 0px;

}
#hero p{
    text-align: left;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px ;

}
.hero_col_left a{
    color: #ffffff;
    text-decoration: none;
    width: 135px;
    box-sizing: border-box;   
    border: solid 2px #ffffff;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
.line{
    border: solid 1.5px white;
    width: 70px;
}
.hero_col_left{
    display: grid;
    flex: 1;
    align-items: center;
    justify-content: start;
    flex-basis: 50%;
    margin-top: 20px;
}
.hero_col_right{
    display: grid;
    flex: 1;
    align-items: center;
    justify-content: end;
    flex-basis: content;
    margin-top: 20px;
 }
 .hero_container{
    display: flex;
}
#hero h2{
    text-align: center;
    color: #000;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px 0px;
    background-color: #f5f5f5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.login span{
    color: #ff8b38;
}
.login{
    width: 350px;
    height: 400px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
}
.login a{
    width: 100%;
    background: #ff9b51;
    color: #fff;
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 0;
    margin-top: 50px;
} 
#hero form input{
    width: 80%;
    height: 45px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
}
.login a:hover{
    background-color: #000;
    transition: 500ms;
}
.social_cols{
    display: flex;
    justify-content: space-between;
}
#social_media{
    background-color: #ffffff;
}
.text{
    font-family: 'Ralawey', sans-serif;
    width: 40%;
    padding-top: 20px;
}
.text h2{
    text-transform: capitalize;
    font-size: 20px;
}
.text p{
    color: #8e8f92;
    padding: 5px 0px 15px 0px;
}
.icons{
    align-self: center;
}
.icons a img{
    filter: contrast(5%) opacity(40%);
    height: 40px;
    padding: 0px 15px;
}
.icons a img:hover{
    filter: invert(65%) sepia(90%) saturate(805%) hue-rotate(323deg) brightness(105%) contrast(103%);
}

.about_cols{
    display: flex;
    justify-content: space-between;
    padding: 110px 0px;
    gap: 80px;
}
.about_buttons a{
    width: 110px;
    height: 110px;
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: solid 1px white;
    line-height: 110px;
}
.about_buttons a:hover{
    background-color: #ff8b38;
    transition: 400ms;
}
.about_buttons a:active{
    background-color: #ff8b38;
}
.about_buttons{
    padding-right: 40px;
}
.about_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
    padding-bottom: 50px;
}
.about_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 70px;

}
.about_text a{
    color: #ffffff;
    background-color: #ff8b38;
    text-decoration: none;
    box-sizing: border-box;   
    border-radius: 3px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px 25px;
}
.sublist{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 150px;
    gap: 80px;
}
#sublist_section{
    background-color: #fff;
}
#sublist_section .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 25px 0px 25px 0px;
    
}
.sublist_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
}
.sublist_text h3{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;

}
.sublist_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 40px;
}
.sublist_text img{
    padding: 10px;
    border: solid 2px #ff8b38;
    border-radius: 50%;
}
.sublist_text .row{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.std_picture{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 100px;
    flex-direction: row-reverse;
    align-items: center;
}

.std_picture_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
    text-transform: capitalize;
}
.std_picture_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 40px;
}
#std_picture_section .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 25px 0px 25px 0px;
}
#awesome{
    background-color: #fff;
}
.first_row{
    text-align: center;
}
.first_row h1{
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 100px;
}
.first_row p{
    color: #8e8f92;
    padding-bottom: 60px;
}
#awesome .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
}
.second_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 100px;
}
.second_row i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
}
.second_row h2{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    padding: 20px;
}
.second_row p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
}

#pricing .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
}
.pricing_col{
    width: 30%;
    background-color: #fff;
}
.pricing_col p{
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #f5f5f5;
}

.pricing_col h1{
    font-size: 92px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.pricing_col h1 span{
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    
}
.pricing_col h4{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
    font-weight: 700;
    font-style: italic;
    padding: 20px 0px;
}
.pricing_col h2{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #fff;    
    font-weight: 700;
    padding: 20px 0px;
    background-color: #333;
}
.pricing_col h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;    
    font-weight: 600;
    padding: 5px 0px;
    background-color: #ff8b38;
}
.price{
    background-color: #333;
    border-top: 1px solid white;
    border-bottom: 5px solid #ff8b38;
}