*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
header{
    background: #000;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 10;
}
html {
    scroll-behavior: smooth;
  }

.container{
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;    
}
ul li a{
    color: #b0b0b0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li a:hover{
    color: #ff8b38;
    transition: 500ms;
}
ul li a:active{
    color: #ff8b38;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    width: 30%;  
}

#hero{

    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(../img/u2_state0.jpeg) no-repeat center;
    background-size: cover;
    padding: 110px 0 100px;
}
#hero h1{
    text-align: left;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    padding: 10px 0px;

}
#hero p{
    text-align: left;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px ;

}
.hero_text a{
    color: #ffffff;
    text-decoration: none;
    width: 135px;
    box-sizing: border-box;   
    border: solid 2px #ffffff;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
.hero_text .line{
    width: 70px;
    height: 2px;
    background: #fff;
    display: block;
}
.hero_text{
    display: grid;
    flex: 1;
    align-items: center;
    justify-content: start;
    flex-basis: 50%;
    margin-top: 20px;
}
.hero_form{
    display: grid;
    flex: 1;
    align-items: center;
    justify-content: end;
    flex-basis: content;
    margin-top: 20px;
 }
 .hero_container{
    display: flex;
}
#hero h2{
    text-align: center;
    color: #000;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px 0px;
    background-color: #f5f5f5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.login span{
    color: #ff8b38;
}
.login{
    width: 350px;
    height: 400px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
}
.login a{
    width: 100%;
    background: #ff9b51;
    color: #fff;
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 0;
    margin-top: 50px;
} 
#hero form input{
    width: 80%;
    height: 45px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
}
#hero form input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #ff8b38;
}
.login a:hover{
    background-color: #000;
    transition: 500ms;
}
.social_content{
    display: flex;
    justify-content: space-between;
}
#social_media{
    background-color: #ffffff;
}
.text{
    font-family: 'Ralawey', sans-serif;
    width: 40%;
    padding-top: 20px;
}
.text h2{
    text-transform: capitalize;
    font-size: 20px;
}
.text p{
    color: #8e8f92;
    padding: 5px 0px 15px 0px;
}
.icons{
    align-self: center;
}
.icons a img{
    filter: contrast(5%) opacity(40%);
    height: 40px;
    padding: 0px 15px;
}
.icons a img:hover{
    filter: invert(65%) sepia(90%) saturate(805%) hue-rotate(323deg) brightness(105%) contrast(103%);
}

.about_content{
    display: flex;
    justify-content: space-between;
    padding: 110px 0px;
    gap: 80px;
}
.about_buttons a{
    width: 110px;
    height: 110px;
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: solid 1px white;
    line-height: 110px;
}
.about_buttons a:hover{
    background-color: #ff8b38;
    transition: 400ms;
}
.about_buttons a:active{
    background-color: #ff8b38;
}
.about_buttons{
    padding-right: 40px;
}
.about_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
    padding-bottom: 50px;
}
.about_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 70px;

}
.about_text a{
    color: #ffffff;
    background-color: #ff8b38;
    text-decoration: none;
    box-sizing: border-box;   
    border-radius: 3px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px 25px;
}
.sublist{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 150px;
    /* gap: 8%; */
    align-items: center;
}
#sublist_section{
    background-color: #fff;
}
#sublist_section .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 25px 0px 25px 0px;
    
}
.sublist_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
}
.sublist_text h3{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;

}
.sublist_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 40px;
    min-width: 300px;

}
.sublist_text img{
    padding: 10px;
    border: solid 2px #ff8b38;
    border-radius: 50%;
}
.sublist_text .row{
    display: flex;
    gap: 50px;
}
.std_picture{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 100px;
    flex-direction: row-reverse;
    align-items: center;
}

.std_picture_text h2{
    font-family: 'Ralawey', sans-serif;
    font-size: 21px;
    text-transform: capitalize;
}
.std_picture_text p{
    font-family: 'Ralawey', sans-serif;
    font-size: 15px;
    color: #8e8f92;
    padding-bottom: 40px;
}
#std_picture_section .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 25px 0px 25px 0px;
}
#awesome{
    background-color: #fff;
}
.section_header{
    text-align: center;
}
.section_header h1{
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 100px;
}
.section_header p{
    color: #8e8f92;
    padding-bottom: 60px;
}
#awesome .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 30px auto;
}
.section_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 100px;
}
.section_content i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
}
.section_content h2{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    padding: 20px;
}
.section_content p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
}

#pricing .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 30px auto;
}
.pricing_cards{
    width: 30%;
    background-color: #fff;
}
.pricing_cards p{
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #f5f5f5;
}

.pricing_cards h1{
    font-size: 92px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.pricing_cards h1 span{
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    
}
.pricing_cards h4{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
    font-weight: 700;
    font-style: italic;
    padding: 20px 0px;
}
.pricing_cards h2{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #fff;    
    font-weight: 700;
    padding: 20px 0px;
    background-color: #333;
}
.pricing_cards h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;    
    font-weight: 600;
    padding: 5px 0px;
    background-color: #ff8b38;
}
.price{
    background-color: #333;
    border-top: 1px solid white;
    border-bottom: 5px solid #ff8b38;
}
#reviews{
    background-color: #fff;
}
#reviews .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 30px auto;
}
.section_header p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
}
#reviews .section_content .col p{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;  
}
.section_content .col h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 21px;
    padding: 5px 20px;

}
.section_content .col h5{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
    font-weight: 300;
    text-align: start;
    padding-left: 20px;
}
.section_content .row{
    display: flex;
    align-items: center;
}
.section_content .col{
    max-width: 290px;
}
.arrow{
	margin-left:20px;
	width: 0; 	
	height: 0; 
	border-left: 15px solid transparent;
	border-right:15px solid transparent;	
	border-top: 15px solid #f5f5f5;
    color: #8e8f92;
}
#stylish{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url('../img/u25_state0.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 320px;
}
#stylish .line{
    width: 65px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 30px auto;
}

#stylish h1{
    color: #fff;
    padding-top: 60px;

}
#stylish p{
    color: #fff;
    padding-bottom: 40px;
}
.download_btn{
    display: flex;
    padding-bottom: 20px;
}
.download_btn a{
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;   
    border: solid 2px #ffffff;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 25px;
    margin: auto;
}
.download_btn a:hover{
    color: #000;
    background-color: #fff;
    transition: 700ms;
}
#contact{
    background-color: #fff;
}
.contact_us{
    text-align: center;
}
.contact_us h1{
        text-transform: uppercase;
        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding-top: 100px;   
}
.contact_us p{
    color: #8e8f92;
    padding-bottom: 60px;
}
#contact .line{
    width: 65px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 30px auto;
}
.form_area{
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    align-items: end;
}
#contact form input{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
}
#contact form input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #ff8b38;
}
.message_area form textarea{
    min-height: 180px;
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    resize: none;
}
.message_area form textarea:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #ff8b38;
}
.contact_btn a{
    color: #ffffff;
    background-color: #ff8b38;
    text-decoration: none;
    box-sizing: border-box;   
    border-radius: 3px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px 25px;
}
.contact_btn a:hover{
    background-color: #000;
    transition: 700ms;
}

.contact_btn {
    text-align: center;
    padding: 20px 0px 90px 0px;
}
#footer{
    background-color: #000;

}
footer{
    text-align: center;
    color: #fff;
}
.footer a{
    color: #fff;
    filter: brightness(0) invert(1);
    padding: 10px 10px;
    text-align: center;
}
.footer a:hover{
    filter: invert(65%) sepia(90%) saturate(805%) hue-rotate(323deg) brightness(105%) contrast(103%);

}
.footer img{
    color: #fff;
    height: 20px;
    padding: 20px 0px;
}
.footer p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8f92;    
    font-weight: 300;
    padding-bottom: 20px;
}
@media (max-width:992px){
    #nav .nav ul li{
        display: flex;
        flex-direction: column;
    }
    header{
        position: static;
    }
    .hero_container{
        flex-direction: column;
    }
    #hero .hero_text{
        justify-content: center;
    }
    #hero .hero_form{
        justify-content: center;
    }
    .social_content{
        flex-direction: column;
    }
    #social_media .social_content .text{
        width: 100%;
    }
    #social_media .social_content .icons{
        align-self: start;
    }
    #about .about_content{
        flex-direction: column;
    }
    #about .about_content .about_buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #about .about_content .about_buttons a{
        width: 30%;
        height: 50px;
        display: block;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        border-right: solid 1px white;
        line-height: 50px;
    }
    #about .about_content .about_text{
        width: 100%;
    }
    #about .about_content .about_img{
        width: 50%;
    }
    #sublist_section .sublist{
        flex-direction: column;
    }
    #sublist_section .sublist .sublist_img{
        width: 100%;
    }
    #sublist_section .sublist .sublist_text {
        width: 100%;
    }
    #sublist_section .sublist .sublist_text p{
        min-width: auto;
    }
    #std_picture_section .std_picture{
        flex-direction: column-reverse;
    }
    #std_picture_section .std_picture .std_picture_img{
        width: 100%;
    }
    #std_picture_section .std_picture .std_picture_content {
        width: 100%;
    }
    #awesome .section_content{
        flex-direction: column;
    }
    #awesome .section_content .col{
        max-width: 100%;
    }
    #pricing .section_content{
        flex-direction: column;
    }
    #pricing .section_content .pricing_cards{
        width: 70%;
    }
    #reviews .section_content{
        flex-direction: column;
    }
    #reviews .section_content .col{
        width: 70%;
    }
    #contact .form_area{
        grid-template-columns: auto;
    }
    #awesome h1{
        font-size: 26px;
    }
    #pricing h1{
        font-size: 26px;
    }
    #reviews h1{
        font-size: 26px;
    }
    #stylish h1{
        font-size: 26px;
    }
    #contact h1{
        font-size: 26px;
    }

}

@media (min-width:992px){
    .social_content .icons a img{
        filter: contrast(5%) opacity(40%);
        height: 30px;
        padding: 0px 10px;
    }
    #std_picture_section .std_picture{
        gap: 0px;
    }
    .std_picture_img{
        width: 50%;

    }
    .std_picture_content{
        width: 50%;
    }
}
@media (max-width:1096px){

    .social_content .icons a img{
        filter: contrast(5%) opacity(40%);
        height: 30px;
        padding: 0px 10px;
    }

    #std_picture_section .std_picture{
        gap: 0px;
    }
    .sublist_img img{
        width: 100%;
    }
    .sublist_text{
        width: 50%;
    }
    .std_picture_img img{
        width: 100%;

    }
    .std_picture_content{
        width: 50%;
    }

}
@media (max-width:1145px){
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav a{
        text-align: center;
    }
    #about .about_content{
        display: flex;
        justify-content: space-between;
        padding: 110px 0px;
        gap: 40px;
    }
    #about .about_text{
        width: 30%;
    }
    #about .about_img img{
        width: 100%;
    }
  
    .sublist_text{
        width: 50%;
    }
 
}

@media (min-width:1450px){
    .container{
        max-width: 1400px;
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}